<div class="row" ng-hide="contact._id">
  <div class="col-md-6">
      <h2>Ajouter un vin</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Nom (obligatoire)</label> 
      <input id="name" class="form-control" type="text" ng-model="vin.nom" required> 
    </p>
    <p>
      <label>Email (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="vin.email" required> 
    </p>
    <p>
      <label>Phone (Mobile)</label> 
      <input id="name" class="form-control" type="text" ng-model="vin.phone.mobile"> 
    </p>
    <p>
      <label>Phone (Work)</label> 
      <input id="name" class="form-control" type="text" ng-model="vin.phone.work"> 
    </p>
    <p>
      <label>Address</label> 
      <input id="name" class="form-control" type="text" ng-model="vin.address"> 
    </p>
    <p>
      <label>Twitter Handle</label> 
      <input id="name" class="form-control" type="text" ng-model="vin.twitter"> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveVin(vin)">Enregistrer</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Retour</button>
    </p>
  </div>
</div>
