<div class = "row">
  <div class="col-md-6">
    <h2>
      {{ vin.nom }}
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteVin(vin._id)">Supprimer</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="vin.email">email: <a ng-href="mailto:{{ vin.email }}" target="_blank">{{ vin.email }}</a></p>
    <p ng-if="vin.phone.mobile">phone (m): {{ vin.phone.mobile }} </p>
    <p ng-if="vin.phone.work">phone (w): {{ vin.phone.work }} </p>
    <p ng-if="vin.address"> address: {{ vin.address }} </p>
    <p ng-if="vin.twitter"> twitter: <a ng-href="https://twitter.com/{{ vin.twitter }}" target="_blank">@{{ contact.twitter }}</a></p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Modifier</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/">Retour</a>
    </p>
  </div>
</div>
<!-- Contact form -->
<div ng-include="vinFormUrl">
</div>
